<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lims.mapper.SampleMapper">
    
    <resultMap type="Sample" id="SampleResult">
        <result property="sampleId"    column="sample_id"    />
        <result property="sampleCode"    column="sample_code"    />
        <result property="sampleName"    column="sample_name"    />
        <result property="sampleTypeId"    column="sample_type_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="batchNumber"    column="batch_number"    />
        <result property="productionDate"    column="production_date"    />
        <result property="expiryDate"    column="expiry_date"    />
        <result property="samplingDate"    column="sampling_date"    />
        <result property="samplingLocation"    column="sampling_location"    />
        <result property="sampleStatus"    column="sample_status"    />
        <result property="storageLocation"    column="storage_location"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="fromFolderNo"    column="from_folder_no"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="auditorDesc"    column="auditor_desc"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="returnReason"    column="return_reason"    />
        <result property="returnPerson"    column="return_person"    />
        <result property="returnTime"    column="return_time"    />
        <result property="originalRecordName"    column="original_record_name"    />
        <result property="paymentStatus"    column="payment_status"    />
        <result property="mainProNum"    column="main_pro_num"    />
        <result property="customerName"    column="customer_name"    />
    </resultMap>

    <sql id="selectSampleVo">
        select s.sample_id, s.sample_code, s.sample_name, s.sample_type_id, s.customer_id, s.batch_number, s.production_date, s.expiry_date, s.sampling_date, s.sampling_location, s.sample_status, s.storage_location, s.create_by, s.create_time, s.update_by, s.update_time, s.remark, s.from_folder_no, s.task_status, s.auditor_desc, s.audit_time, s.return_reason, s.return_person, s.return_time, s.original_record_name, s.payment_status, s.main_pro_num, c.compname as customer_name from lims_sample s left join lims_customer c on s.customer_id = c.customer_id
    </sql>

    <select id="selectSampleList" parameterType="Sample" resultMap="SampleResult">
        <include refid="selectSampleVo"/>
        <where>  
            <if test="sampleCode != null  and sampleCode != ''"> and s.sample_code = #{sampleCode}</if>
            <if test="sampleName != null  and sampleName != ''"> and s.sample_name like concat('%', #{sampleName}, '%')</if>
            <if test="sampleTypeId != null "> and s.sample_type_id = #{sampleTypeId}</if>
            <if test="customerId != null "> and s.customer_id = #{customerId}</if>
            <if test="batchNumber != null  and batchNumber != ''"> and s.batch_number = #{batchNumber}</if>
            <if test="productionDate != null "> and s.production_date = #{productionDate}</if>
            <if test="expiryDate != null "> and s.expiry_date = #{expiryDate}</if>
            <if test="samplingDate != null "> and s.sampling_date = #{samplingDate}</if>
            <if test="samplingLocation != null  and samplingLocation != ''"> and s.sampling_location = #{samplingLocation}</if>
            <if test="sampleStatus != null  and sampleStatus != ''"> and s.sample_status = #{sampleStatus}</if>
            <if test="storageLocation != null  and storageLocation != ''"> and s.storage_location = #{storageLocation}</if>
        </where>
    </select>
    
    <select id="selectSampleBySampleId" parameterType="Long" resultMap="SampleResult">
        <include refid="selectSampleVo"/>
        where s.sample_id = #{sampleId}
    </select>

    <insert id="insertSample" parameterType="Sample" useGeneratedKeys="true" keyProperty="sampleId">
        insert into lims_sample
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sampleCode != null and sampleCode != ''">sample_code,</if>
            <if test="sampleName != null and sampleName != ''">sample_name,</if>
            <if test="sampleTypeId != null">sample_type_id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="batchNumber != null">batch_number,</if>
            <if test="productionDate != null">production_date,</if>
            <if test="expiryDate != null">expiry_date,</if>
            <if test="samplingDate != null">sampling_date,</if>
            <if test="samplingLocation != null">sampling_location,</if>
            <if test="sampleStatus != null">sample_status,</if>
            <if test="storageLocation != null">storage_location,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="fromFolderNo != null">from_folder_no,</if>
            <if test="taskStatus != null">task_status,</if>
            <if test="auditorDesc != null">auditor_desc,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="returnReason != null">return_reason,</if>
            <if test="returnPerson != null">return_person,</if>
            <if test="returnTime != null">return_time,</if>
            <if test="originalRecordName != null">original_record_name,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="mainProNum != null">main_pro_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sampleCode != null and sampleCode != ''">#{sampleCode},</if>
            <if test="sampleName != null and sampleName != ''">#{sampleName},</if>
            <if test="sampleTypeId != null">#{sampleTypeId},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="batchNumber != null">#{batchNumber},</if>
            <if test="productionDate != null">#{productionDate},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="samplingDate != null">#{samplingDate},</if>
            <if test="samplingLocation != null">#{samplingLocation},</if>
            <if test="sampleStatus != null">#{sampleStatus},</if>
            <if test="storageLocation != null">#{storageLocation},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="fromFolderNo != null">#{fromFolderNo},</if>
            <if test="taskStatus != null">#{taskStatus},</if>
            <if test="auditorDesc != null">#{auditorDesc},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="returnReason != null">#{returnReason},</if>
            <if test="returnPerson != null">#{returnPerson},</if>
            <if test="returnTime != null">#{returnTime},</if>
            <if test="originalRecordName != null">#{originalRecordName},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="mainProNum != null">#{mainProNum},</if>
         </trim>
    </insert>

    <update id="updateSample" parameterType="Sample">
        update lims_sample
        <trim prefix="SET" suffixOverrides=",">
            <if test="sampleCode != null and sampleCode != ''">sample_code = #{sampleCode},</if>
            <if test="sampleName != null and sampleName != ''">sample_name = #{sampleName},</if>
            <if test="sampleTypeId != null">sample_type_id = #{sampleTypeId},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="batchNumber != null">batch_number = #{batchNumber},</if>
            <if test="productionDate != null">production_date = #{productionDate},</if>
            <if test="expiryDate != null">expiry_date = #{expiryDate},</if>
            <if test="samplingDate != null">sampling_date = #{samplingDate},</if>
            <if test="samplingLocation != null">sampling_location = #{samplingLocation},</if>
            <if test="sampleStatus != null">sample_status = #{sampleStatus},</if>
            <if test="storageLocation != null">storage_location = #{storageLocation},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="fromFolderNo != null">from_folder_no = #{fromFolderNo},</if>
            <if test="taskStatus != null">task_status = #{taskStatus},</if>
            <if test="auditorDesc != null">auditor_desc = #{auditorDesc},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="returnReason != null">return_reason = #{returnReason},</if>
            <if test="returnPerson != null">return_person = #{returnPerson},</if>
            <if test="returnTime != null">return_time = #{returnTime},</if>
            <if test="originalRecordName != null">original_record_name = #{originalRecordName},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
            <if test="mainProNum != null">main_pro_num = #{mainProNum},</if>
        </trim>
        where sample_id = #{sampleId}
    </update>

    <delete id="deleteSampleBySampleId" parameterType="Long">
        delete from lims_sample where sample_id = #{sampleId}
    </delete>

    <delete id="deleteSampleBySampleIds" parameterType="String">
        delete from lims_sample where sample_id in 
        <foreach item="sampleId" collection="array" open="(" separator="," close=")">
            #{sampleId}
        </foreach>
    </delete>
</mapper>